{
  "log": {
    "_recordingName": "fetch-channels",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "02c6a8c6b974e5942bde93196d0d9479",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/9d409baf-16e6-4e39-88f9-9c9621019feb/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1660,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 384,
      },
      {
        "_id": "6449cacab92f4604738be7c976358c3f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$top",
              "value": "200"
            }
          ],
          "url": "https://graph.microsoft.com/v1.0/groups/?%24top=200"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 1284,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#groups\",\"value\":[{\"id\":\"b13c4fe1-a04b-4fa8-814f-b91eda6ccb02\",\"deletedDateTime\":null,\"classification\":null,\"createdDateTime\":\"2020-08-17T14:37:13Z\",\"creationOptions\":[\"Team\",\"ExchangeProvisioningFlags:3552\"],\"description\":null,\"displayName\":\"Creativice\",\"expirationDateTime\":null,\"groupTypes\":[\"Unified\"],\"isAssignableToRole\":null,\"mail\":\"Creativice@Creativice.onmicrosoft.com\",\"mailEnabled\":true,\"mailNickname\":\"Creativice\",\"membershipRule\":null,\"membershipRuleProcessingState\":null,\"onPremisesDomainName\":null,\"onPremisesLastSyncDateTime\":null,\"onPremisesNetBiosName\":null,\"onPremisesSamAccountName\":null,\"onPremisesSecurityIdentifier\":null,\"onPremisesSyncEnabled\":null,\"preferredDataLocation\":null,\"preferredLanguage\":null,\"proxyAddresses\":[\"SMTP:Creativice@Creativice.onmicrosoft.com\"],\"renewedDateTime\":\"2020-08-17T14:37:13Z\",\"resourceBehaviorOptions\":[\"HideGroupInOutlook\",\"SubscribeMembersToCalendarEventsDisabled\",\"WelcomeEmailDisabled\"],\"resourceProvisioningOptions\":[\"Team\"],\"securityEnabled\":false,\"securityIdentifier\":\"S-1-12-1-2973519841-1336451147-515460993-46886106\",\"theme\":null,\"visibility\":\"Public\",\"onPremisesProvisioningErrors\":[]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"West Europe\",\"Slice\":\"E\",\"Ring\":\"5\",\"ScaleUnit\":\"003\",\"RoleInstance\":\"AM1PEPF000105D3\"}}"
            },
            {
              "name": "x-ms-resource-unit",
              "value": "1"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 247,
      },
      {
        "_id": "02c6a8c6b974e5942bde93196d0d9479",
        "request": {
          "headers": [
            {
              "_fromType": "array",
     [...]
