{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/237eff4f-fae9-46cd-b70d-a5aef248bf39/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1691,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 616,
      },
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$top",
              "value": "200"
            }
          ],
          "url": "https://graph.microsoft.com/v1.0/users/?%24top=200"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 3456,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#users\",\"value\":[{\"businessPhones\":[\"+1 425 555 0109\"],\"displayName\":\"Adele Vance\",\"givenName\":\"Adele\",\"jobTitle\":\"Retail Manager\",\"mail\":\"AdeleV@3xv5zr.onmicrosoft.com\",\"mobilePhone\":null,\"officeLocation\":\"18/2111\",\"preferredLanguage\":\"en-US\",\"surname\":\"Vance\",\"userPrincipalName\":\"AdeleV@3xv5zr.onmicrosoft.com\",\"id\":\"79c61163-dce8-437b-b278-02edc8ff722b\"},{\"businessPhones\":[\"+1 858 555 0110\"],\"displayName\":\"Alex Wilber\",\"givenName\":\"Alex\",\"jobTitle\":\"Marketing Assistant\",\"mail\":\"AlexW@3xv5zr.onmicrosoft.com\",\"mobilePhone\":null,\"officeLocation\":\"131/1104\",\"preferredLanguage\":\"en-US\",\"surname\":\"Wilber\",\"userPrincipalName\":\"AlexW@3xv5zr.onmicrosoft.com\",\"id\":\"5952ecd5-6139-4166-bc15-08f0fd7756c7\"},{\"businessPhones\":[\"+1 205 555 0108\"],\"displayName\":\"Diego Sici[...]
