{
  "log": {
    "_recordingName": "fetch-teams",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/237eff4f-fae9-46cd-b70d-a5aef248bf39/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1691,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 620,
      },
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$top",
              "value": "200"
            },
            {
              "name": "$filter",
              "value": "resourceProvisioningOptions/Any(x:x eq 'Team')"
            }
          ],
          "url": "https://graph.microsoft.com/v1.0/groups/?%24top=200&%24filter=resourceProvisioningOptions%2FAny%28x%3Ax%20eq%20%27Team%27%29"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 3026,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#groups\",\"value\":[{\"id\":\"85888aed-626e-4db9-bf30-aa2d9096a5a8\",\"deletedDateTime\":null,\"classification\":null,\"createdDateTime\":\"2023-10-28T21:54:35Z\",\"creationOptions\":[\"Team\",\"ExchangeProvisioningFlags:3552\"],\"description\":\"MSFT\",\"displayName\":\"MSFT\",\"expirationDateTime\":null,\"groupTypes\":[\"Unified\"],\"isAssignableToRole\":null,\"mail\":\"MSFT@3xv5zr.onmicrosoft.com\",\"mailEnabled\":true,\"mailNickname\":\"MSFT\",\"membershipRule\":null,\"membershipRuleProcessingState\":null,\"onPremisesDomainName\":null,\"onPremisesLastSyncDateTime\":null,\"onPremisesNetBiosName\":null,\"onPremisesSamAccountName\":null,\"onPremisesSecurityIdentifier\":null,\"onPremisesSyncEnabled\":null,\"preferredDataLocation\":null,\"preferredLanguage\":null,\"proxyAddresses\":[\"SPO:SPO_cc190bd2-8fb0-4b96-b77b-61800a756d7c@SPO_237eff4f-fae9-46cd-b70d-a5aef248bf39\",\"SMTP:MSFT@3xv5zr.onmicrosoft.com\"],\"renewedDateTime\":\"2023-10-28T21:54:35Z\",\"resourceBehaviorOptions\":[\"HideGroupInOutlook\",\"SubscribeMembersToCalendarEventsDisabled\",\"WelcomeEmailDisabled\"],\"resourceProvisioningOptions\":[\"Team\"],\"securityEnabled\":false,\"securityIdentifier\":\"S-1-12-1-2240318189-1303994990-766128319-2829424272\",\"theme\":null,\"visibility\":\"Public\",\"onPremisesProvisioningErrors\":[],\"serviceProvisioningErrors\":[]},{\"id\":\"880619dd-f683-4c89-95ee-44190ed466b4\",\"deletedDateTime\":null,\"classification\":null,\"createdDateTime\":\"2023-10-28T22:07:38Z\",\"creationOptions\":[\"Team\",\"ExchangeProvisioningFlags:3552\"],\"description\":\"Description of Digital Initiative Public Relations\",\"displayName\":\"Digital Initiative Public Relations\",\"expirationDateTime\":null,\"groupTypes\":[\"Unified\"],\"isAssignableToRole\":null,\"mail\":\"DigitalInitiativePublicRelations334@3xv5zr.onmicrosoft.com\",\"m[...]
